<body>
    <div> <a href="/database_app/worker/">Workers</a></div>
    <div> <a href="/database_app/company/">Company</a></div>
    <div> <a href="/database_app/pay/">Pay</a></div>
    <div> <a href="/database_app/contracts/">Contracts</a></div>
    <form action="." method="post">
        {% csrf_token %} 
        {{ search_form }}
        <input type = "submit" value="Search"/>
    </form>
    <ul>
    {% for worker in list_of_workers %}
        <li>{{worker.passport_number}}, {{worker.full_name}}, {{worker.workers_contacts}}</li>
    {% endfor %}
    </ul> 
<body/>


