<body>
    <div> <a href="/database_app/main_page/">Main page</a></div>
    <div> <a href="/database_app/worker/">Worker</a></div>
    <div> <a href="/database_app/company/">Company</a></div>
    <div> <a href="/database_app/contracts/">Contracts</a></div>
    <form action="." method="post">
        {% csrf_token %}
        {{ AddPay_form }}
        <input type="submit" value="Add" />
    </form>
    <form action="." method="post">
        {% csrf_token %}
        {{ search_form }}
        <input type = "submit" value="Search"/>
    </form>
    <ul>
    {% for detail in list_of_pays %}
        <li>{{detail.company.company_name}}, {{detail.company.company_adress}}, {{detail.role}}, {{detail.pay}}</li>
    {% endfor %}
    </ul>
<body/>

