<body>
    <div> <a href="/database_app/main_page/">Main page</a></div>
    <div> <a href="/database_app/company/">Company</a></div>
    <div> <a href="/database_app/contracts/">Contracts</a></div>
    <form action="." method="post">
        {% csrf_token %}
        {{ AddWorker_form }}
        <input type="submit" value="Add" />
    </form>
    <form action="." method="post">
        {% csrf_token %}
        {{ search_form }}
        <input type = "submit" value="Search"/>
    </form>
    <ul>
    {% for worker in list_of_workers %}
        <li>{{worker.passport_number}}, {{worker.full_name}}, {{worker.workers_contacts}}</li>
    {% endfor %}
    </ul>
<body/>



